ruff>=0.9.9
jupyter>=1.1.1
numpy>=1.26.0,<2.0.0  # Compatible with Python 3.12, but before bool8 removal needed by matplotlib-inline-labels
scipy>=1.15.2
numpy-quaternion>=2024.0.7
matplotlib>=3.8.0
ipympl>=0.9.7 # interactive widgets
matplotlib-inline-labels>=0.1
typeguard>=4.1.5  # Required by generate-parameter-library-py

Pygments>=2.17.2
